body {
      font-family: 'Times New Roman', Times, serif;
      background-color:white;
      color: black;
      margin: 40px;
    }

    h1 {
      text-align: center;
      color: black;
      font-size: 2em;
      margin-bottom: 20px;
    }

    p {
      max-width: 800px;
      margin: 0 auto 20px auto;
      font-size: 1.1em;
      line-height: 1.6;
    }

    ul {
      max-width: 800px;
      margin: 0 auto;
      padding-left: 20px;
      font-size: 1.1em;
      line-height: 1.6;
    }

    li {
      margin-bottom: 10px;
    }

    img {
      display: block;
      margin: 0 auto 30px auto;
      width: 30%;
      border-radius: 8px;
    }
  </style>
</head>
<body>


aside..
(text align lext)